<html>
	<head>
		<title>手机计费系统</title>
		<meta name="decorator" content="all" />
		<script type="text/javascript">
		var mainTabs;
		var addedLinkId;
		
		function initTabs(){
			mainTabs = $("#tabs").tabs({
				cache: true,
				add: function(e, ui) {
					$(ui.tab).parents('li:first')
					.append('<span class="ui-tabs-close ui-icon ui-icon-close" title="Close Tab"></span>')
					.find('span.ui-tabs-close')
					.click(function() {
						mainTabs.tabs('remove', $('li', mainTabs).index($(this).parents('li:first')[0]));
					});
					mainTabs.tabs('select', '#' + ui.panel.id);
					$("#" + addedLinkId).attr("tabId", ui.panel.id);
				} 
			});
		}
		
		function addTab(id){
			$("a").css("border-bottom", "");
			$("#" + id).css("border-bottom", "2px solid #334455");
			var tabId = $("#" + id).attr("tabId");
			if(tabId && $("#" + tabId).html()){
				mainTabs.tabs('select',tabId);
			} else {
				addedLinkId = id;
				var url = $("#" + id).attr("link");
				var title = $("#" + id).html();
				mainTabs.tabs("add", url, title);
			}
		}
		
		function init_page(){
			$( "#accordion" ).accordion({
				fillSpace: true
			});
			initTabs();
			$("#menuAccordion").css('visibility', 'visible');
		}
	
		$().ready(init_page);
		</script>
	</head>
	<body>
		<div id="container">
			<div id="topArea">
				<div class="title">
					<h1>手机计费系统</h1>
					<div class="loginInfo">
						<div style="margin-right: 20px;font-size:12px">
							#if($user)
								<font><a href="#" link="#rootUrl('/user/edit.do')" id="myAccount" tabId="" onclick="addTab(this.id)">$user.name<a></font>
								<font><a href="#rootUrl('/security/logout.do')">注销</a></font>
							#else
								<font><a href="#rootUrl('/security/login.do')">登录</a></font>
							#end
						</div>
					</div>
				</div>
			</div>
			<div id="contentArea">
				<div id="leftMenu">
					<div id="menuAccordion" style="height:575px;visibility:hidden">
						<div id="accordion" >
							#foreach($category in ${menus.keySet()})
								<h3><a href="#">$category</a></h3>
								<div>
									<ul>
										#foreach($menu in ${menus.get($category)})
											<li><a href="#" link="#rootUrl(${menu.url})" onclick="addTab(this.id);" id="menu-${menu.order}" tabId="">${menu.name}</a></li>
										#end
									</ul>
								</div>
							#end
						</div>
					</div>
				</div>
				<div id="rightContent">
					<div id="tabs">
						<ul>
							<li><a href="#tabs-1">系统首页</a></li>
						</ul>
						<div id="tabs-1" class="tabContent">欢迎使用<br/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>