<div class='tabContent'>
	<table id='bl_cat_number_navgrid'></table> 
	<div id='bl_cat_number_pagernav'></div> 
</div>
<script type='text/javascript'>
registerNamespace('bl_cat_number');
$().ready(function(){
	bl_cat_number.query_url = APP_PATH + '/catNumber/list.do';
	bl_cat_number.oper_url = APP_PATH + '/catNumber/operate.do';
	bl_cat_number.mygrid = $('#bl_cat_number_navgrid').jqGrid( {
		url : bl_cat_number.query_url,
		datatype : 'xml',
		mtype : 'GET',
		colNames : [ ' ', '号码', '状态', '备注', '创建日期' ],
		colModel : [ {name : 'id',index : 'id',hidden : true,width : 100,editable : true,editoptions : {defaultValue : ''} },
		             {name : 'number',index : 'number',width : 150,editable : true,editoptions : {size : 20, maxlength: 11},editrules : {required : true,number: true}},
		             {name : 'status', index : 'status', width : 100, editable : true, edittype: 'select', editoptions : {value: 'ENABLED:已启用;DISABLED:已停用'},stype: 'select',searchoptions : {value: ':请选择;ENABLED:已启用;DISABLED:已停用'} },
		             {name : 'memo',index : 'memo',width : 300,sortable : false,editable : true,edittype : 'textarea',editoptions : {rows : '2',cols : '25'}},
		             {name : 'createdAt',index : 'createdAt',width : 200,search : false,editable : false,formatter : 'datetime'}
	    ],
		pager : '#bl_cat_number_pagernav',
		rowNum : 10,
		rowList : [ 10, 20, 30 ],
		sortname : 'id',
		rownumbers : true,
		sortorder : 'desc',
		multiselect : false,
		viewrecords : true,
		gridview : true,
		caption : '短信猫管理',
		editurl : bl_cat_number.oper_url,
		height : 300
	});
	$('#bl_cat_number_navgrid').jqGrid('navGrid', '#bl_cat_number_pagernav', 
			{
				search : false
			}, 
			{
				reloadAfterSubmit : false
			}, 
			{
				reloadAfterSubmit : true
			}, 
			{
				reloadAfterSubmit : true
			}, 
			{
				multipleSearch : false
			} 
			);
	bl_cat_number.mygrid.filterToolbar( {} );
	$('#bl_cat_number_navgrid').jqGrid('navButtonAdd', '#bl_cat_number_pagernav', {
		caption : '开关',
		title : '开或关搜索栏',
		onClickButton : function() {
			$('#bl_cat_number_navgrid')[0].toggleToolbar();
		}
	});
	$('#bl_cat_number_navgrid').jqGrid('navButtonAdd', '#bl_cat_number_pagernav', {
		caption : '清空',
		title : '清空搜索栏',
		onClickButton : function() {
			$('#bl_cat_number_navgrid')[0].clearToolbar();
		}
	});
});
</script>