<div class='tabContent'>
	<table id='bl_blacklist_navgrid'></table> 
	<div id='bl_blacklist_pagernav'></div> 
</div>
<script type='text/javascript'>
registerNamespace('bl_blacklist');
$().ready(function(){
	bl_blacklist.query_url = APP_PATH + '/blacklist/list.do';
	bl_blacklist.oper_url = APP_PATH + '/blacklist/operate.do';
	bl_blacklist.mygrid = $('#bl_blacklist_navgrid').jqGrid( {
		url : bl_blacklist.query_url,
		datatype : 'xml',
		mtype : 'GET',
		colNames : [ ' ', '号码', '备注', '创建日期' ],
		colModel : [ {name : 'id',index : 'id',hidden : true,width : 100,editable : true,editoptions : {defaultValue : ''} },
		             {name : 'phoneNumber',index : 'phoneNumber',width : 200,editable : true,editoptions : {size : 20, maxlength: 15},editrules : {required : true,number: true}},
		             {name : 'memo',index : 'memo',width : 300,sortable : false,editable : true,edittype : 'textarea',editoptions : {rows : '2',cols : '25'}},
		             {name : 'createdAt',index : 'createdAt',width : 200,search : false,editable : false,formatter : 'datetime'}
	    ],
		pager : '#bl_blacklist_pagernav',
		rowNum : 10,
		rowList : [ 10, 20, 30 ],
		sortname : 'id',
		rownumbers : true,
		sortorder : 'desc',
		multiselect : false,
		viewrecords : true,
		gridview : true,
		caption : '客户管理',
		editurl : bl_blacklist.oper_url,
		height : 300
	});
	$('#bl_blacklist_navgrid').jqGrid('navGrid', '#bl_blacklist_pagernav', 
			{
				search : false
			}, 
			{
				reloadAfterSubmit : false
			}, 
			{
				reloadAfterSubmit : true
			}, 
			{
				reloadAfterSubmit : true
			}, 
			{
				multipleSearch : false
			} 
			);
	bl_blacklist.mygrid.filterToolbar( {} );
	$('#bl_blacklist_navgrid').jqGrid('navButtonAdd', '#bl_blacklist_pagernav', {
		caption : '开关',
		title : '开或关搜索栏',
		onClickButton : function() {
			$('#bl_blacklist_navgrid')[0].toggleToolbar();
		}
	});
	$('#bl_blacklist_navgrid').jqGrid('navButtonAdd', '#bl_blacklist_pagernav', {
		caption : '清空',
		title : '清空搜索栏',
		onClickButton : function() {
			$('#bl_blacklist_navgrid')[0].clearToolbar();
		}
	});
});
</script>